
.civsfz-modelcardshtml {
	--civsfz-figcaption-background-color: rgb(121 138 159 /85%);
	--civsfz-default-shadow-color: #798a9f;
	--civsfz-alreadyhave-shadow-color:  #7fffd4;
	--civsfz-hover-scale: 1.5;
	--civsfz-card-width: 8;
	--civsfz-card-height: 12;
	--civsfz-card-size-unit: 1em;
}

.civsfz-modellist {
	display: flex;
	flex-wrap: wrap;
}

.civsfz-modellist figure {
	margin: 4px;
	transition: transform .3s ease-out;
	cursor: pointer;
}

.civsfz-modelcard {
	position: relative;
}

.civsfz-modelcard:hover {
	transform: scale(var(--civsfz-hover-scale), var(--civsfz-hover-scale));
	position: relative;
	/* need for z-index */
	z-index: var(--layer-5);
	box-shadow: 0 0 4px 6px var(--civsfz-default-shadow-color);
}

.civsfz-modelcardalreadyhave {
	box-shadow: 0 0 1px 3px var(--civsfz-alreadyhave-shadow-color);
}
.civsfz-modelcardalreadyhave:hover {
	box-shadow: 0 0 4px 6px var(--civsfz-alreadyhave-shadow-color);
}

.civsfz-modelcard img {
	/*filter: blur(6px);*/
	width:  calc(var(--civsfz-card-width) * var(--civsfz-card-size-unit));
	height: calc(var(--civsfz-card-height) * var(--civsfz-card-size-unit));
	object-fit: cover;
}

.civsfz-modelcard video {
	/*filter: blur(6px);*/
	width:  calc(var(--civsfz-card-width) * var(--civsfz-card-size-unit));
	height: calc(var(--civsfz-card-height) * var(--civsfz-card-size-unit));
	object-fit: cover;
}

.civsfz-modelcard figcaption {
	position: absolute;
	bottom: 5px;
	left: 5px;
	word-break: break-word;
	background-color: var(--civsfz-figcaption-background-color);
	/*transition: bottom .3s ease-out;*/
}

.civsfz-modelcard:hover figcaption {
	bottom: initial;
}

.civsfz-nsfw img {
	filter: blur(12px);
}

.civsfz-cardnsfw img {
	filter: blur(6px);
}

.civsfz-nsfw video {
	filter: blur(12px);
}

.civsfz-cardnsfw video {
	filter: blur(6px);
}

/*https: //github.com/gradio-app/gradio/issues/3337#issuecomment-1449589285*/
.civsfz-s-buttons {
	margin: 1.2em 0em 0.55em 0em !important;
	max-width: 2.5em;
	min-width: 2.5em !important;
	height: 2.4em;
}

.civsfz-msg {
	/*align-self: center;*/
	text-align: center;
	background-color: maroon;
	margin: 1.1em 0em 0em 0em !important;
	max-width: 8em;
	min-width: 8em !important;
}
