
.civsfz-custom-property {
	--civsfz-figcaption-background-color: rgba(121, 138, 160, 0.85);
	--civsfz-default-shadow-color: #798a9f;
	--civsfz-alreadyhave-shadow-color:  #7fffd4;
	--civsfz-alreadyhad-shadow-color: #caff7f;
	--civsfz-hover-scale: 1.5;
	--civsfz-card-width: 8;
	--civsfz-card-height: 12;
	--civsfz-card-size-unit: 1em;
	--civsfz-sd1-background-color: #87ba39d9;
	--civsfz-sd2-background-color: #54c696d9;
	--civsfz-sdxl-background-color: #d54b44d9;
	--civsfz-pony-background-color: #ce274bd9;
	--civsfz-flux1-background-color: #ce27bdd9;
	--civsfz-early-access-in-background-color: rgba(39, 52, 201, 0.8);
}

.civsfz-modellist {
	display: flex;
	flex-wrap: wrap;
}

.civsfz-modellist figure {
	margin: 4px;
	transition: transform .3s ease-out;
	cursor: pointer;
}

.civsfz-modelcard {
	position: relative;
	overflow: hidden;
}

.civsfz-modelcard:hover {
	transform: scale(var(--civsfz-hover-scale), var(--civsfz-hover-scale));
	position: relative;
	overflow: visible;
	/* need for z-index */
	z-index: var(--layer-5);
	box-shadow: 0 0 4px 6px var(--civsfz-default-shadow-color);
}

.civsfz-modelcardalreadyhave {
	box-shadow: 0 0 1px 4px var(--civsfz-alreadyhave-shadow-color);
}
.civsfz-modelcardalreadyhave:hover {
	box-shadow: 0 0 4px 6px var(--civsfz-alreadyhave-shadow-color);
}
.civsfz-modelcardalreadyhad {
	box-shadow: 0 0 1px 4px var(--civsfz-alreadyhad-shadow-color);
}
.civsfz-modelcardalreadyhad:hover {
	box-shadow: 0 0 4px 6px var(--civsfz-alreadyhad-shadow-color);
}


.civsfz-bgcolor-base {
	background-color: var(--civsfz-figcaption-background-color);
}
.civsfz-bgcolor-SD1 {
	background-color: var(--civsfz-sd1-background-color);
}
.civsfz-bgcolor-SD2 {
	background-color: var(--civsfz-sd2-background-color);
}
.civsfz-bgcolor-SDXL {
	background-color: var(--civsfz-sdxl-background-color);
}
.civsfz-bgcolor-Pony {
	background-color: var(--civsfz-pony-background-color);
}
.civsfz-bgcolor-Flux1 {
	background-color: var(--civsfz-flux1-background-color);
}
.civsfz-modelcard img {
	/*filter: blur(6px);*/
	width:  calc(var(--civsfz-card-width) * var(--civsfz-card-size-unit));
	height: calc(var(--civsfz-card-height) * var(--civsfz-card-size-unit));
	object-fit: cover;
}

.civsfz-modelcard video {
	/*filter: blur(6px);*/
	width:  calc(var(--civsfz-card-width) * var(--civsfz-card-size-unit));
	height: calc(var(--civsfz-card-height) * var(--civsfz-card-size-unit));
	object-fit: cover;
}

.civsfz-modelcard figcaption {
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	word-break: break-word;
	background-color: var(--civsfz-figcaption-background-color);
	/*transition: bottom .3s ease-out;*/
	max-height: 60%;
}

.civsfz-modelcard:hover figcaption {
	bottom: initial;
	max-height: initial;
}

.civsfz-modelcard .civsfz-basemodel {
	position: absolute;
	top: 0px;
	right: 0px;
	word-break: break-word;
	font-size: smaller;
}
.civsfz-modelcard:hover .civsfz-basemodel {
	top: -1.5em;
}
.civsfz-modelcard .civsfz-modeltype  {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	word-break: break-word;
 	font-size: smaller;
	background-color: var(--civsfz-figcaption-background-color);
 }
.civsfz-modelcard:hover .civsfz-modeltype {
	top: -1.5em;
}

.civsfz-modelcard .civsfz-early-access-out {
	position: absolute;
	top: 1.4em;
	right: 0em;
	font-size: smaller;
	background-color: var(--civsfz-early-access-out-background-color);
}
.civsfz-modelcard:hover .civsfz-early-access-out {
	top: -1.5em;
	right: -1.2em;
}
.civsfz-modelcard .civsfz-early-access-in {
	position: absolute;
	top: 1.4em;
	right: 0em;
	word-break: break-word;
	font-size: smaller;
	background-color: var(--civsfz-early-access-in-background-color);
}
.civsfz-modelcard:hover .civsfz-early-access-in {
	top: -1.5em;
	right: -1.2em;
}

.civsfz-nsfw img {
	filter: blur(12px);
}

.civsfz-cardnsfw img {
	filter: blur(6px);
}

.civsfz-nsfw video {
	filter: blur(12px);
}

.civsfz-cardnsfw video {
	filter: blur(6px);
}

#civsfz_tab-element .civsfz-tabbar:first-child {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0em;
	z-index: 2;
}
[id^="civsfz_model-navigation"] .civsfz-navigation-buttons {
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	top: 3em;
	z-index: 1;
}
[id^="civsfz_model-navigation"] .civsfz-jump-page-control {
	position: -webkit-sticky;
	/* Safari */
	position: sticky;
	bottom: 0px;
	z-index: 1;
}
[id^="civsfz_model-data"] .civsfz-save-buttons {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 3em;
	z-index: 1;
}
[id^="civsfz_model-data"] .civsfz-back-to-top {
	text-align: right;
	position: -webkit-sticky; /* Safari */
	position:sticky;
	top: 7em;
	z-index: 2;
	float: inline-end;
	pointer-events: none;
}
.civsfz-sticky-parent {
	display: initial;
}
.civsfz-sticky-element {
	backdrop-filter: brightness(0.35);
	padding: 0.5em 0;
}
/*https: //github.com/gradio-app/gradio/issues/3337#issuecomment-1449589285*/
.civsfz-small-buttons {
	margin: 1.2em 0em 0.55em 0em !important;
	max-width: 2.5em;
	min-width: 2.5em !important;
	height: 2.4em;
}

.civsfz-msg {
	/*align-self: center;*/
	text-align: center;
	background-color: maroon;
	margin: 1.1em 0em 0em 0em !important;
	max-width: 8em;
	min-width: 8em !important;
}

