{# meta to infotext #}
{% set copy = '<span title="Copy to clipboard" style="cursor: copy;"
	onclick="civsfz_copyInnerText(this,false);">&#x1F4CB;</span>' %} {# 📋 #}

{%- macro extract_var(var) %}
	{%- if var is mapping%}
		{{ "{" }}
		{%- for key, value in var.items() %}
			<span style='padding-right:0.5em;display: inline-block;"'>
				<var style="font-weight:bold;">{{ key|e }}</var>: {{ copy }}<span>{{ value|e }}</span>{{ ", " if not loop.last else "" }}
			</span>
		{%- endfor -%}
		{{- "}" -}}
	{% elif var is iterable and var is not string %}
		{%- for item in infotext['models'] %}
		<span style="padding-right:0.5em;display: inline-block;">
			{{ item|e }}{{ ", " if not loop.last else "" }}
		</span>
		{% endfor -%}
	{%- else %}
		<span style='padding-right:0.5em;display: inline-block;"'>
			{{ var|e }}
		</span>
	{%- endif %}
{%- endmacro%}

{%- if infotext['prompt'] is not none %}
<p>
	<var style="font-weight:bold;">prompt</var>: {{ infotext['prompt']|e }}
</p>
{%- endif %}

{%- if infotext['negativePrompt'] is not none %}
<p>
	<var style="font-weight:bold;">negativePrompt</var>: {{ infotext['negativePrompt']|e }}
</p>
{%- endif %}

<p>
	{%- for key, value in infotext.items() %}
		{%- if not key in ('prompt','negativePrompt', 'resources', 'hashes', 'comfy', 'models', 'additionalResources', 'civitaiResources', 'TI hashes') %}
			{%- if value is not none %}
				<span style='padding-right:0.5em;display: inline-block;"'>
					<var style="font-weight:bold;">{{ key|e }}</var>: {{ value|e }}{{ ", " if not loop.last else "" }}
				</span>
			{%- endif %}
		{%- endif %}
	{%- endfor %}
</p>

{%- if 'models' in infotext %}
	<p>
		<var style="font-weight:bold;">models</var>:
		{{- extract_var(infotext['models']) }}
	</p>
{%- endif %}
{%- if 'hashes' in infotext %}
	<p>
		<var style="font-weight:bold;">hashes</var>:
		{{- extract_var(infotext['hashes']) }}
	</p>
{%- endif %}
{%- if 'TI hashes' in infotext %}
	<p>
		{{- extract_var(infotext['TI hashes']) }}
	</p>
{%- endif %}
{%- if 'resources' in infotext %}
	<p>
		<var style="font-weight:bold;">resources</var>: {{ "[" }}
		{%- for item in infotext['resources'] %}
			{{- extract_var(item) -}}
			{{- ", " if not loop.last else "" }}
		{%- endfor -%}
		{{ "]" }}
	</p>
{%- endif %}
{%- if 'additionalResources' in infotext %}
	<p>
		<var style="font-weight:bold;">additionalResources</var>: {{ "[" }}
		{%- for item in infotext['additionalResources'] %}
			{{- extract_var(item) }}{{ ", " if not loop.last else "" }}
		{%- endfor -%}
		{{ "]" }}
	</p>
{%- endif %}
{%- if 'civitaiResources' in infotext %}
	<p>
		<var style="font-weight:bold;">civitaiResources</var>: {{ "[" }}
		{%- for item in infotext['civitaiResources'] %}
			{{- extract_var(item) }}{{ ", " if not loop.last else "" }}
		{%- endfor -%}
		{{ "]" }}
	</p>
{%- endif %}
{%- if 'comfy' in infotext %}
	<p>
		<span style="padding-right:0.5em">
			<var style="font-weight:bold;">comfy</var>: {{ infotext['comfy']|e }}
		</span>
	</p>
{%- endif %}
