{% set copy = '<span title="Copy to clipboard" style="cursor: copy;" onclick="civsfz_copyInnerText(this,false);">📋</span>' %}
{% set tdStyle1 = 'style="max-width:20em;min-width:7em;padding:0.2em;"' %}
{%- if "SD 1" in modelInfo['baseModel'] %}
	{%- set baseModelColor = 'civsfz-bgcolor-SD1' %}
{%- elif "SD 2" in modelInfo['baseModel'] %}
	{%- set baseModelColor = 'civsfz-bgcolor-SD2' %}
{%- elif "SDXL" in modelInfo['baseModel'] %}
	{%- set baseModelColor = 'civsfz-bgcolor-SDXL' %}
{%- elif "Pony" in modelInfo['baseModel'] %}
	{%- set baseModelColor = 'civsfz-bgcolor-Pony' %}
{%- else %}
	{%- set baseModelColor = 'civsfz-bgcolor-base' %}
{%- endif %}
<div class="civsfz-modelBasicInfo" style="display:flex; align-items:flex-start; column-gap:2em;flex-wrap: wrap;">
	<table>
		<caption style="text-align: left">Model attributes</caption>
		<tr>
			<th {{ tdStyle1 }}>ID</th>
			<td {{ tdStyle1 }}>{{ copy }}<span>{{ modelInfo["id"] }}</span></td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Civitai link</th>
			<td {{ tdStyle1 }}><a href="https://civitai.com/models/{{ modelInfo['id'] }}?modelVersionId={{ modelInfo["versionId"] }}" target="_blank">https://civitai.com/models/{{
					modelInfo['id'] }}</a></td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>NSFW level</th>
			<td {{ tdStyle1 }}>{{ strNsfw }}</td>
		
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Uploaded by</th>
			{%- if 'creator' in modelInfo -%}
				<td {{ tdStyle1 }}>{{ copy }}<span>{{ modelInfo["creator"]["username"]|e }}</span></td>
			{%- else -%}
				<td {{ tdStyle1 }}><span>No creator information</span></td>
			{%- endif -%}
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Published</th>
			<td {{ tdStyle1 }}>{{ published }}</td>

		</tr>
	</table>

	<table>
		<caption style="text-align: left">Version attributes</caption>
		<tr>
			<th {{ tdStyle1 }}>ID</th>
			<td {{ tdStyle1 }}>{{ copy }}<span>{{ modelInfo["versionId"] }}</span></td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Name</th>
			<td {{ tdStyle1 }}>{{ modelInfo["versionName"]|e }}</td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>NSFW level</th>
			<td {{ tdStyle1 }}>{{ strVNsfw }}</td>
		
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Type</th>
			<td {{ tdStyle1 }}>{{ modelInfo["type"]|e }}</td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Base Model</th>
			<td {{ tdStyle1 }}><span class="{{ baseModelColor }}">{{ modelInfo["baseModel"]|e }}</span></td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Tags</th>
			<td {{ tdStyle1 }}>
				{%- for tag in modelInfo['tags'] %}
					<span style="display:inline-block;">
						{{ copy -}}
						<span>{{ tag|e -}}
					</span>
					{%- if not loop.last %}
					,</span>
					{%- else %}
						</span>
					{%- endif %}
				{%- endfor %}
			</td>
		</tr>
		<tr>
			<th {{ tdStyle1 }}>Trained Tags</th>
			<td {{ tdStyle1 }}>{{ copy }}<span>{{ ", ".join(modelInfo["trainedWords"])|e }}</span></td>
		</tr>
	</table>
</div>